#edit-responsive-setting .form-item {
  box-sizing: border-box;
  padding-bottom: 7.5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 7.5px;
  width: 100%;
}

#edit-responsive-setting ul.chosen-choices {
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}
#edit-responsive-setting ul.chosen-choices input {
  width: 100% !important;
}

#edit-responsive-setting .chosen-container {
  width: 100% !important;
}

@media (min-width: 768px) {
  #edit-responsive-setting .form-item {
    float: left;
    width: 20%;
  }
}
